<div class="mb-3 mt-3">
    <a asp-controller="Groups" asp-action="New" class="btn btn-primary h-25">Create a new group</a>
    <a class="btn btn-primary h25">My groups</a>
</div>

<h3>All groups:</h3>
@foreach (var group in ViewBag.Groups)
{
<a asp-controller="Groups" asp-action="Show" asp-route-id="@group.Id"
   class="card mb-3 mx-auto" style="max-width: 600px; border-radius: 15px; box-shadow: rgba(0, 0, 0, 0.09) 0 3px 12px; 
       text-decoration: none; color: inherit;">
    <div class="row g-0">
        <div class="d-flex align-items-center">
            <div class="card-body">
                <h5 class="card-title">@group.Name</h5>
                <h6 class="card-title">@group.Description</h6>
            </div>
        </div>
    </div>
</a>
}