<div class="d-flex flex-column justify-content-center align-items-center">
    <h3>@ViewBag.Group.Name</h3>
    <h5 style="color: grey;">@ViewBag.Group.Description</h5>
    <h6>@ViewBag.MemberCount members</h6>
</div>