<h3 class="mb-5">@ViewBag.Profiles.Count results for "@ViewBag.Search"</h3>

@* TODO: Nebunia asta ar trebui sa fie paginata *@
@foreach (var profile in ViewBag.Profiles)
{
    <partial name="ProfileCard" model="profile"/>
}