@using Microsoft.AspNetCore.Identity
@using ProiectDAW_V2.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject ApplicationDbContext Db;

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="FollowRequests" asp-action="Show">
                <div class="d-flex flex-row justify-content-center align-items-center gap-1">
                    <img src="/assets/friend_requests.svg" alt="Friend requests">
                    
                    @* Afiseaza cate request-uri de follow are user-ul logat in prezent *@
                    <span style="color: black">
                        @(Db.FollowRequests.Count(fr => fr.ReceiverId == UserManager.GetUserId(User)))
                    </span>
                </div>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Profiles" asp-action="Show" asp-route-id="">My profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Account settings</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>