<a asp-controller="Profiles" asp-action="Show" asp-route-id="@Model.UserId" style="text-decoration: none; color: inherit;">
    <div class="mb-3 d-flex flex-row align-items-center" style="background-color: lightgrey; border-radius: 15px;">
        <img
            src="@(string.IsNullOrEmpty(Model.ProfilePicture) ? "/assets/fallback_profile_picture.png" : Model.ProfilePicture)"
            alt="profile picture"
            style="width: 100px; height: 100px; object-fit: cover; border-radius: 50%; padding: 5px 5px 5px 5px;"/>
        <p class="ms-3 fs-4">@Model.FirstName @Model.LastName</p>
    </div>
</a>
